* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h1 {
  text-align: center;
}

#button-container {
  text-align: center;
  margin: 0.5rem;
}

#grid-size-button {
  font-size: 1rem;
  padding: 0.15rem;
}

#grid-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;

  /* It's necessary to set the height less than
  100% because some of the vh is being taken up
  by the h1 header.
  
  85% is equal to 85vh. */
  height: 85%;

  /* By default, flex items are stretched using
  align-items:stretch. This will both center the 
  flex items and prevent the stretch. */
  align-items: center;
}

.row {
  flex: 1 1 0;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.square {
  /* Will cause the flex item to grow and
    shrink, from a base size of 0 */
  flex: 1 1 0;

  /* Will set the element's dimensions to a 
    width-to-height ratio of 1, forming a square. */
  aspect-ratio: 1 / 1;

  border: 0.1rem solid black;

  opacity: 1;
}
